<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <style>
        
        body {
            padding-top: 60px;
            padding-bottom : 60px;
        }

        .dropdown-toggle {
            color: #f8f9fa;
            text-decoration: none;
        }

        /* FROM MDBOOTSTRAP */

        .custom-color-box {
            background: #275d5797;
        }

        @media (min-width: 768px) {
        .gradient-form {
        height: 100vh !important;
        }
        }
        @media (min-width: 769px) {
        .custom-color-box {
        border-top-right-radius: .3rem;
        border-bottom-right-radius: .3rem;
        }
        }

        #passwords_dismatch_error_message {
            color: red
        }

    </style>
</head>
<body>
    <header class="bg-dark text-white py-3 fixed-top">
        <div class="container d-flex justify-content-between align-items-center">
            <h1 class="h3 mb-0">App Rent Keeper</h1>
        </div>
    </header>

    <section class="h-100 gradient-form" style="background-color: #ffffff;">
        <div class="container py-10 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-xl-12">
            <div class="card rounded-3 text-black">
                <div class="row g-0">
                <div class="col-lg-6">
                    <div class="card-body p-md-5 mx-md-4">
    
                        <form id="register_form">
                            <h1 class="h5 mb-0">Register new account and start using Rent Keeper</h1>
                            
                            <div class="pt-5 mb-5 pb-6">
                                <div data-mdb-input-init class="form-outline mb-1">
                                    <label for="email_field" class="form-label"></label>
                                    <input type="text" id="email_field" class="form-control" placeholder="Your Email" required/>
                                </div>

                                <div data-mdb-input-init class="form-outline mb-1">
                                    <label for="username_field" class="form-label"></label>
                                    <input type="text" id="username_field" class="form-control" placeholder="Your Username" required/>
                                </div>
            
                                <div data-mdb-input-init class="form-outline mb-1">
                                    <label for="password_field" class="form-label"></label>
                                    <input type="password" id="password_field" class="form-control" placeholder="Password" required/>
                                </div>

                                <div data-mdb-input-init class="form-outline mb-4">
                                    <label for="repeat_password_field" class="form-label"></label>
                                    <input type="password" id="repeat_password_field" class="form-control" placeholder="Repeat your password" required/>
                                </div>

                                <div class="error" id="passwords_dismatch_error_message"></div>

                            </div>
        
                            <div class="text-center pt-1 mb-5 pb-1">
                                <button class="btn btn-outline-dark me-3 col-6" id="submit-button" type="submit">Sign up</button>
                                <!-- <a class="text-muted" href="#!">Forgot password?</a> -->
                            </div>
        
                            <div class="d-flex align-items-center justify-content-center pb-4">
                                <p class="mb-0 me-3">Already registered?</p>
                                <a href="/pages/login" class="btn btn-outline-success">Sign in</a>
                            </div>
        
                        </form>
    
                    </div>
                </div>
                <div class="col-lg-6 d-flex align-items-center custom-color-box">
                    <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                    <h4 class="mb-4">App Rent Keeper</h4>
                    <p class="small mb-0">Your safe space to keep track of income and expenses from your properties.</p>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </div>
        </div>
    </section>
</body>

<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        document.getElementById('register_form').addEventListener('submit', async function(event) {
            event.preventDefault();

            // Collect data from form
            const email = document.getElementById('email_field').value;
            const username = document.getElementById('username_field').value;
            const password = document.getElementById('password_field').value;
            const repeatPassword = document.getElementById('repeat_password_field').value;

            const errorMessage = document.getElementById('passwords_dismatch_error_message');


            if (password !== repeatPassword) {
                errorMessage.textContent = 'Passwords do not match.';
            } else {
                errorMessage.textContent = '';
                
                const registerData = {
                    email: email,
                    username: username,
                    password: password
                };


                try {
                    // Submit the form using fetch method
                    const response = await fetch('/auth/register', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(registerData)
                    });
                    

                    // Handle response
                    if (response.ok) {
                        const result = await response.json();
                        console.log('Registration successful:', result);
                        // Redirect to login page if Registration successful
                        window.location.href = '/pages/login';
                    } else {
                        const result = await response.json()
                        console.error('Registration failed:', response.status, response.statusText, 'detail:', result.detail);
                        if (result.detail === "REGISTER_USER_ALREADY_EXISTS") {
                            console.log("User already exists");
                            alert("Registration failed: \nUser with this email and/or username already exists!");
                        }
                        
                    }
                } catch (error) {
                    console.error('Error:', error);
                }
            }
        });
    });
</script>

</html>